.window{
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.board{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    
    width: 30%;
   height: 50%;

     
  
}

#green{
    display:flex;
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 20px;
    box-shadow:black 0 0 0 3px;
    border-radius: 20%;
}

#red{
    display:flex;
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 20px;
    box-shadow:black 0 0 0 3px;
    border-radius: 20%;
}


#yellow{
    display:flex;
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 20px;
    box-shadow:black 0 0 0 3px;
    border-radius: 20%;
}


#blue{
    display:flex;
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 20px;
    box-shadow:black 0 0 0 3px;
    border-radius: 20%;git 
}